@keyframes effect {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0.85;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* WINDOW APP */
  .appWindow {
    position: relative;
  
    height: ceil(90vh);
    width: ceil(90vw);
    top: 5vh;
    left: 5vw;
  
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
  
    opacity: 0;
    animation-delay: 0.5s;
    animation: effect 0.55s ease-in-out;
    animation-fill-mode: forwards;
  
    box-shadow: 10px 10px 35px var(--shadow-color-first),
      -10px -10px 35px var(--shadow-color-second);
  }
  
  /* FRAME FOR MAIN BUTTONS & MENU */
  .frame {
    position: absolute;
    overflow: hidden;
  
    height: 100%;
    width: 100%;
  
    background: linear-gradient(
      -120deg,
      var(--extra-light) -30%,
      var(--contrast-color-dark) 100%
    );
  }
  
  /* MAIN WINDOW */
  .window {
    position: absolute;
    overflow: hidden;
    display: flex;
  
    height: ceil(93%);
    width: ceil(97%);
    top: 4vh;
    left: 1.34vw;
  
    border-radius: 7px;
    background-color: var(--background-window-color);
  }
  
  /* MENU BUTTON */
  .menu {
    position: absolute;
  
    width: 25px;
    height: 20px;
  
    margin-left: 15px;
    margin-top: 5px;
  
    border: none;
    border-radius: 2px;
  
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: var(--contrast-color-dark);
  }
  
  /* BACK BUTTON */
  .btnBack {
    position: absolute;
  
    margin-top: 40px;
    margin-left: 25px;
  
    height: 35px;
    width: 35px;
    opacity: 0;
    border-radius: 50%;
    border: none;
  
    background-color: var(--extra-light);
    color: var(--contrast-color-light);
    font-size: 15px;
    font-weight: 900;
    text-align: center;
  
    cursor: pointer;
  
    animation: effect 1s ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    transition: all 0.5s ease-in-out;
  
    &:hover {
      background-color: var(--contrast-color-light);
      color: var(--contrast-color-dark);
  
      transition: all 0.5s ease-in-out;
    }
  }
  a {
    text-decoration: none;
    &:hover,
    &:active,
    &:focus,
    &:visited,
    &:link {
      color: inherit;
    }
  }
  
  /* SELECT */
  #left {
    position: relative;
    display: flex;
  
    margin-top: ceil(2%);
    width: ceil(25%);
    height: 100%;
  
    z-index: 1;
  
    animation: effect 0.3s ease-in-out;
    animation-delay: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  
  #select {
    background-color: var(--background-color-second);
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: ceil(2%);
  
    width: 100%;
    height: ceil(10%);
  
    border-radius: 10px;
    box-shadow: 6px 6px 22px var(--shadow-color-first),
      -6px -6px 22px var(--shadow-color-second);
  }
  
  .searchInput {
    background-color: var(--select);
    color: var(--text-main-color);
  
    margin-top: ceil(5%);
    margin-left: ceil(5%);
    padding: ceil(4%);
  
    height: ceil(60%);
    width: ceil(75%);
    border: none;
    border-radius: 5px;
  
    &:active,
    &:focus {
      outline: 0;
    }
    &::placeholder {
      color: var(--select-text-color);
    }
  }
  
  .searchBtn {
    padding: 10px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--contrast-color-light);
  }
  
  /* LIST OF COMPOUNDS */
  #list {
    overflow: hidden;
  
    margin-top: ceil(3%);
    margin-left: ceil(2%);
  
    background-color: var(--background-color-second);
    height: ceil(85%);
    width: 100%;
  
    border-radius: 10px;
  }
  
  /* COMPOUND BLOCK */
  .compound {
    position: relative;
    overflow: hidden;
  
    padding: ceil(4%);
    margin: ceil(5%);
  
    background: var(--background-color-compound);
  
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    transition: all 1s ease-in-out;
    &:hover {
      background: linear-gradient(
        120deg,
        var(--background-window-color) 10%,
        var(--extra-light) 100%
      );
  
      transition: all 1s ease-in-out;
    }
  }
  .description {
    color: var(--contrast-color-light);
    font-size: 12px;
    font-weight: 900;
    margin-top: 3px;
  }
  #right {
    position: absolute;
    display: flex;
  
    margin-top: 20px;
    margin-left: 830px;
  
    width: 300px;
    height: 525px;
  
    animation: effect 0.3s ease-in-out;
    animation-delay: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  
  #listInfo {
    background-color: var(--background-color-second);

    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  
    border-radius: 10px;
    box-shadow: -6px 6px 22px var(--shadow-color-first),
      6px -6px 22px var(--shadow-color-second);
  }
  .show {
    height: 20px;
    width: 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--extra-light);
  }
  .showInfo {
    margin-top: 35px;
    margin-left: 795px;
    position: absolute;
    z-index: 1;
    animation: effect 0.3s ease-in-out;
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .showSelect {
    margin-top: 35px;
    margin-left: 5px;
    position: relative;
  
    z-index: 1;
  
    animation: effect 0.3s ease-in-out;
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  
  .compoundWindow {
    display: flex;
    position: fixed;
  }
  
  .notification {
    margin-top: 50px;
    margin-left: 140px;
    width: 700px;
    height: 500px;
  
    position: fixed;
  
    animation: effect 0.2s ease-in-out;
    animation-delay: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
    //display: flex;
    h3 {
      text-align: center;
      margin-top: 200px;
      margin-left: 160px;
      color: var(--select-text-color);
      font-weight: 400;
      font-size: 20px;
      z-index: 1;
    }
  }
  
  .arrow {
    position: absolute;
    filter: opacity(30%);
    top: ceil(13%);
    left: ceil(22%);
    transform: rotate(-10deg);
  
    animation: effect 0.2s ease-in-out;
    animation-delay: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  
  .pap {
    position: absolute;
    top: ceil(60%);
    left: ceil(43%);
    filter: opacity(40%);
  
    animation: effect 0.2s ease-in-out;
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  
  .isShowSelect {
    margin-left: 15px;
  }
  
  .isShowInfo {
    margin-left: 1115px;
  }
  .warningBlock {
    background: rgba(21, 21, 21, 0.748);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  @keyframes effect {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0.85;
    }
    100% {
      opacity: 1;
    }
  }